{{!-- 
OLD VERSION
<h1>Books list</h1>
https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg
{{#each books as |book|}}
  <p>{{book.title}}</p>
  <p>{{book.genre}}</p>
  <a class="fa-solid fa-arrow-right-arrow-left btn btn-warning" type="submit" href="/exchange/{{book.id}}/prepareSelection"></a>
  <form action="/loan/{{book.id}}/create" method="POST">
    <button class="fa-solid fa-right-long btn btn-primary" type="submit"></button>
  </form>
{{/each}} --}}

 
<div class = "container-first-browser">
      <label for="exampleInputEmail1" class="form-label"></label>
      <div class="input-container">
      <input id="browser-input" type="text" class="form-control" name="title" placeholder="Introduce the book you are looking for's title"/>
        <button id="browser-btn" class="browser-btn-fil">Filter</button>
</div>

  <div class="alert alert-success hidden" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Loan requested done</p>
  </div>

<div class="container-browser">
  {{#each books as |book|}}
  <div class="card-browser">
    <div class="card-header">
      <img src="{{book.image}}" />
    </div>
    <div class="card-body">
      <span class="tag 
        {{#genreChecker genre=book.genre genreToCheck="Prose"}}prose-tag{{/genreChecker}}
        {{#genreChecker genre=book.genre genreToCheck="Fiction"}}fiction-tag{{/genreChecker}}
        {{#genreChecker genre=book.genre genreToCheck="Drama"}}drama-tag{{/genreChecker}}
        {{#genreChecker genre=book.genre genreToCheck="Poetry"}}poetry-tag{{/genreChecker}}
        {{#genreChecker genre=book.genre genreToCheck="Nonfiction"}}nonFiction-tag{{/genreChecker}}
        {{#genreChecker genre=book.genre genreToCheck="Other"}}other-tag{{/genreChecker}}
      ">{{book.genre}}</span>
      <h3>{{book.title}}</h3>
      <h4>{{book.author}}</h4>
      <div class="actions-exchange-loan">
        <a class="fa-solid fa-arrow-right-arrow-left btn btn-warning exchangeBtn showPopup"  type="submit" href="/exchange/{{book.id}}/prepareSelection" id="hide"><span class="text-exchange-loan">Exchange</span></a>
        <button class="fa-solid fa-right-long btn btn-primary loanBtn" data-id="{{book.id}}" type="submit"><span class="text-exchange-loan">Loan</span></button>
      </div>
      <div class="user">
        <img src={{book.user.image}} alt="user" />
        <div class="user-info">
          <small>Book's owner:</small>
          <h5>@{{book.user.username}}</h5>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>

<script>
  const button = document.querySelector('#browser-btn');
  const input = document.querySelector('#browser-input');

  button.addEventListener('click', () => {
    const criteria = input.value;
    document.location.pathname = `/books/browser/${criteria}`;
  })

  /* const showPopupBtns = document.querySelectorAll('.showPopup');
  const alertNode = document.querySelector('.alert-success');

  [...showPopupBtns].forEach((btn) => {
    btn.addEventListener('click', () => {
      alertNode.classList.remove("hidden");
    })
  }) */

  const loanReqBtn = document.querySelector('.loanBtn');
  const url = `/loan/${loanReqBtn.dataset.id}/create`;
  console.log(loanReqBtn);
  loanReqBtn.addEventListener('click', () => {
    axios.post(url)
      .then((res) => {
        console.log(res);
        if (res.status === 200) {
          const alertNode = document.querySelector('.alert-success');
          alertNode.classList.remove("hidden");
          setTimeout(() => {
            alertNode.classList.add("hidden");
          }, 4000);
        }
      })
  })
</script>
