<div class="d-flex">
  {{#each books as |book|}}
    <div class="card w-25 text-center">
      <img src="{{book.image}}"/>
      <h3>{{book.title}}</h3>
      <h4>{{book.author}}</h4>
      <p><span class="text-secondary">LANGUAGE: </span>{{book.language}}</p>
      <p><span class="text-secondary">GENRE: </span>{{book.genre}}</p>
      {{#if book.specialEdition}}
      <p>Special edition</p>
      {{/if}}
      <div class="d-flex justify-content-center gap-2">
        <a class="fa-solid fa-pen-to-square btn btn-primary" type="submit" href="/books/{{book.id}}/edit"></a>
        <form action="/books/{{book.id}}/delete" method="POST">
          <button class="fa-solid fa-trash btn btn-danger" type="submit"></button>
        </form>
      </div>
    </div>
  {{/each}}
</div>