<div id="my-books-container" class="container-when-clicked">
      {{#each books as |book|}}
        <div class="book-card">
          <div class="book-info">
            <img src="{{book.image}}" class="book-image"/>
            <div>
              <p class="p-no-margin title">{{book.title}}</p>
              <p class="p-no-margin author">{{book.author}}</p>
              <div class="extra-book-info">
                <p class="p-no-margin yellow-tag">{{book.genre}}</p>
                <p class="p-no-margin yellow-tag">{{book.language}}</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center gap-2">
            <form action="/exchange/{{book.id}}/{{../bookId}}/create" method="POST">
              <button class="fa-solid fa-check btn btn-success" type="submit"></button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>