<form action="/books/create" class="create-book-form" method="POST" enctype="multipart/form-data">
  <h3 class="mb-4">Create your book</h3>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" name="title" value="{{book.title}}" required/>
    <div class="invalid-feedback">
      {{errors.title}}
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control {{#if errors.author}}is-invalid{{/if}}" name="author" value="{{book.author}}" required/>
    <div class="invalid-feedback">
      {{errors.author}}
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Language</label>
    <select type="text" class="form-control {{#if errors.language}}is-invalid{{/if}}" name="language" required>
    <option disabled selected value>Select option</option>
      {{#each languages as  |language|}}
        <option value="{{language}}" {{#if book.language}}{{#findSelected language=book.language languageToCheck=language}}selected{{/findSelected}}{{/if}}>{{language}}</option>
      {{/each}}
    </select>
 
  </div>
  <div class="mb-3">
    <label class="form-label">Special Edition</label>
    <select type="text" class="form-control {{#if errors.specialEdition}}is-invalid{{/if}}" name="specialEdition" required>
      <option disabled selected value>Select option</option>
      <option  value="true">Yes</option>
      <option  value="false">No</option>
    </select>
    <div class="invalid-feedback">
      {{errors.specialEdition}}
    </div>
  </div>
   <div class="mb-3">
    <label class="form-label">Genre</label>
    <select type="text" class="form-control {{#if errors.genre}}is-invalid{{/if}}" name="genre" required>
      <option disabled selected value>Select option</option>
      {{#each genres as  |genre|}}
        <option value="{{genre}}">{{genre}}</option>
      {{/each}}
    </select>
    <div class="invalid-feedback">
      {{errors.genre}}
    </div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Book image</label>
    <input class="form-control" type="file" name="image" id="image">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>