<div class="container-sg-level-1">
  <div class="container-sg-level-2">


<form action="/books/create" class="create-book-form" method="POST" enctype="multipart/form-data">
  <h1 class="text-sg">Create book</h1>
  <div class="mb-3">
    {{!-- <label class="form-label">Title</label> --}}
    <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" name="title" value="{{book.title}}" required placeholder="Title"/>
    <div class="invalid-feedback">
      {{errors.title}}
    </div>
  </div>
  <div class="mb-3">
    {{!-- <label class="form-label">Author</label> --}}
    <input type="text" class="form-control {{#if errors.author}}is-invalid{{/if}}" name="author" value="{{book.author}}" required placeholder="Author"/>
    <div class="invalid-feedback">
      {{errors.author}}
    </div>
  </div>
  <div class="mb-3">
    {{!-- <label class="form-label">Language</label> --}}
    <select type="text" class="form-control {{#if errors.language}}is-invalid{{/if}}" name="language" required>
    <option disabled selected value>Book's language</option>
      {{#each languages as  |language|}}
        <option value="{{language}}" {{#if book.language}}{{#findSelected language=book.language languageToCheck=language}}selected{{/findSelected}}{{/if}}>{{language}}</option>
      {{/each}}
    </select>
 
  </div>
  <div class="mb-3">
    {{!-- <label class="form-label">Select if it is special edition</label> --}}
    <select type="text" class="form-control {{#if errors.specialEdition}}is-invalid{{/if}}" name="specialEdition" required>
      <option disabled selected value>Select if it is special edition</option>
      <option  value="true">Yes</option>
      <option  value="false">No</option>
    </select>
    <div class="invalid-feedback">
      {{errors.specialEdition}}
    </div>
  </div>
   <div class="mb-3">
    {{!-- <label class="form-label">Genre</label> --}}
    <select type="text" class="form-control {{#if errors.genre}}is-invalid{{/if}}" name="genre" required>
      <option disabled selected value>Select book's genre</option>
      {{#each genres as  |genre|}}
        <option value="{{genre}}">{{genre}}</option>
      {{/each}}
    </select>
    <div class="invalid-feedback">
      {{errors.genre}}
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Book's picture</label>
    {{!-- <label for="image" class="form-label">Book image</label> --}}
    <input data-buttonText="Your label here." type="file" name="image" id="image" placeholder="Choose profile picture">
  </div>
  <div class="log-but-href">
  <button type="submit" class="log-local">CREATE</button>
  </div>
</form>

  </div>

</div>