<form class="create-book-form" action="/books/{{book.id}}/edit" method="POST">
  <h3 class="mb-4">Edit book</h3>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" name="title" value="{{book.title}}" required/>
    <div class="invalid-feedback">
      {{errors.title}}
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control {{#if errors.author}}is-invalid{{/if}}" name="author" value="{{book.author}}" required/>
    <div class="invalid-feedback">
      {{errors.author}}
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Language</label>
    <select type="text" class="form-control {{#if errors.language}}is-invalid{{/if}}" name="language" required>
    <option disabled selected value>Select option</option>
      {{#each languages as |language|}}
        <option value="{{language}}" {{#findSelected optionChosen=../book.language optionToChoose=language}}selected="selected"{{/findSelected}}>{{language}}</option>
      {{/each}}
    </select>
    <div class="invalid-feedback">
      {{errors.language}}
    </div>
 
  </div>
  <div class="mb-3">
    <label class="form-label">Special Edition</label>
    <select type="text" class="form-control {{#if errors.specialEdition}}is-invalid{{/if}}" name="specialEdition" required>
      <option disabled selected value>Select option</option>
      <option value="true" {{#findSelected optionChosen=book.specialEdition optionToChoose=true}}selected="selected"{{/findSelected}}>Yes</option>
      <option value="false" {{#findSelected optionChosen=book.specialEdition optionToChoose=false}}selected="selected"{{/findSelected}}>No</option>
    </select>
    <div class="invalid-feedback">
      {{errors.specialEdition}}
    </div>
  </div>
   <div class="mb-3">
    <label class="form-label">Genre</label>
    <select type="text" class="form-control {{#if errors.genre}}is-invalid{{/if}}" name="genre" required>
      <option disabled selected value>Select option</option>
      {{#each genres as  |genre|}}
        <option value="{{genre}}" {{#findSelected optionChosen=../book.genre optionToChoose=genre}}selected="selected"{{/findSelected}}>{{genre}}</option>
      {{/each}}
    </select>
    <div class="invalid-feedback">
      {{errors.genre}}
    </div>
  </div>
  {{!-- Para cloudinary --}}
  {{!-- <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="text" class="form-control" name="image" />
  </div> --}}
  <button type="submit" class="btn btn-primary">Edit</button>
</form>